.content .container{
    margin-top:-190px;
    background: #fff;
    padding-top: 80px;
    padding-bottom: 80px;
    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;
}
.content_title{
    font-weight: 400;
    font-size:clamp(24px, 5vw, 32px);
    line-height: 131%;
    text-align: center;
    color:var(--primary-color);
}
.content_txt{
    padding-top: 28px;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    letter-spacing: 0.01em;
    text-align: center;
    color:var(--secondry-color);
    max-width: 615px;
    width: 100%;
    margin: 0 auto;
}
.content_link{
    border: 1px solid var(--primary-color);
    border-radius: 9999px;
    width: 142px;
    margin: 0 auto;
    padding: 10px 33px;
    display:block;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color:var(--primary-color);
    transition: 0.3s;

    &:hover{
        transition: 0.3s;
        background:var(--primary-color);
        color: #fff;
    }
}