.library{
    background: #F4EFE9;
    padding-bottom: 302px;
}
.library_content{
    padding: 0 15px;
}
.library_txt{
    padding-top: 144px;
    padding-bottom: 80px;
    text-align: center;
    font-weight: 700;
    font-size: 17px;
    line-height: 153%;
    letter-spacing: 0.01em;
    color:var(--primary-color);
}
.library_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding-bottom: 77px;
}
.library_card{
    border-radius: 8px;
    width: 144px;
    height: 160px;
    background: #fff;
    display: flex;
    gap: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
}
.library_card_title{
    width: 102px;
    text-align: center;font-weight: 700;
    font-size: 12px;
    line-height: 133%;
    color:var(--primary-color);
}
.library_link{
    display: block;
    /* text-align: center; */
    color:var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 9999px;
    width: 168px;
    margin:0 auto;
    padding: 10px 33px;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    transition: 0.3s;

    &:hover{
        transition: 0.3s;
        background:var(--primary-color);
        color: #fff;
    }
}
.necessary .container{
    right: 0;
    left: 0;
    z-index: 1;
    position: absolute;
    background: #fff;
    margin-top: 147px;
    padding-top: 80px;
    padding-bottom: 80px;
}
.necessary_title{
    font-weight: 400;
    font-size:clamp(24px, 5vw, 32px);
    line-height: 131%;
    text-align: center;
    color:var(--primary-color);
}
.necessary_txt{
    padding-top: 24px;
    max-width: 672px;
    width: 100%;
    margin: 0 auto;
    font-weight: 400;
    font-size: 17px;
    line-height: 176%;
    letter-spacing: 0.01em;
    text-align: center;
    color:var(--secondry-color);
}
